* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #e1a2b8, #9f2bc1);
}
.navbar {
  padding: 2rem 0.5rem;
  margin-bottom: 4rem;
  width: 100%;
  background-color: white;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style-type: none;
}

.navbar ul a {
  text-decoration: none;
  font-family: "DynaPuff", cursive;
  color: #ae00a8;
}

.navbar ul li {
  position: relative;
}

.navbar ul li:hover::before {
  width: 10rem;
}

.navbar ul li::before {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0rem;
  width: 0.6rem;
  height: 1px;
  border: 2px solid #000;
  border-image: linear-gradient(
      to bottom,
      rgb(135 255 200),
      rgb(255 255 255 / 13%),
      rgb(255 72 219 / 16%),
      rgb(65 0 221 / 50%)
    )
    1;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #313837;
  text-align: center;
  margin: 2rem 0rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11rem;
  background: linear-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 10%));
  padding: 2rem;
  margin: 3rem 0rem;
}

.image-container img {
  width: 25rem;
  border-radius: 10px;
}

.description h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.description button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  display: block;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  background: linear-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 10%));
}

.description button:hover {
  transform: scale(1.2);
}

.description button a {
  text-decoration: none;
}

.description h2 {
  background: linear-gradient(to right, #000000, #250ad2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.responsive {
  display: block;
  box-sizing: 0 0 5px black;
  box-shadow: 0 0 5px;
  text-align: center;
  border-radius: 10px;
}

/* media queries */
@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    gap: 3rem;
  }

  .image-container img {
    width: 19rem;
  }

  .navbar ul li:hover::before {
    width: 5rem;
  }
}
